@import './../../styles/styles.scss';

$random-blog-item-wrapper: '.container:nth-of-type(4n + 1)';
$random-blog-item-wrapper-2: '.container:nth-of-type(5n + 2)';
$random-blog-item-wrapper-3: '.container:nth-of-type(6n + 3)';

.container {
  display: flex;
  flex-direction: column;

  color: color(mono, light);

  background-color: color(secondary);
  box-shadow: container(box-shadow, 2);
  transition: box-shadow 0.25s;

  @include hovers() {
    box-shadow: container(box-shadow, 3);
    transition: box-shadow 0.5s;
  }
}

#{$random-blog-item-wrapper} { background-color: color(primary); }
#{$random-blog-item-wrapper-2} { background-color: color(action); }
#{$random-blog-item-wrapper-3} { background-color: color(mono, dark); }

.banner {
  position: relative;
  display: block;
  padding: spacing() spacing() spacing(half);

  text-decoration: none;
  color: color(mono, light);

  border-bottom: 1px solid color(mono, light);

  @include hovers() { color: color(mono, light); }

  &:focus {
    outline: 2px dotted color(primary);
    outline-offset: 2px;
  }
}

.title {
  margin-top: 0;
  margin-bottom: spacing(half);

  text-decoration: underline;
}

.date {
  margin: 0;

  font-style: italic;
}

.link {
  color: color(mono, light);

  @include hovers() { color: color(mono, light); }
}

.icon {
  position: absolute;
  top: spacing() * -1;
  right: spacing() * -1;

  display: none;
  padding: spacing(half);

  box-shadow: container(box-shadow, 2);
  background-color: color(primary);

  z-index: 1;

  #{$random-blog-item-wrapper} & {
    background-color: color(secondary);
  }

  #{$random-blog-item-wrapper-2} & {
    background-color: color(mono, dark);
  }

  #{$random-blog-item-wrapper-3} & {
    background-color: color(action);
  }
}

.excerpt {
  padding: spacing();
  margin-top: auto;
  margin-bottom: auto;
}

@include larger-than(sm) {
  .banner { padding-right: spacing(quad); }

  .icon {
    top: spacing(half) * -1;
    right: 0;

    display: block;
  }
}

@include larger-than(md) {
  .icon {
    top: spacing() * -1;
    right: spacing() * -1;
  }
}
