@import './../../styles/styles.scss';

.wrapper {
  composes: border-secondary;
}


.title {
  composes: square-float-left square-primary-top-left;
}

.header { margin-top: 0; }

.subheader { margin-bottom: 0; }

.intro {}

.content { composes: square-content; }
