@import './../../styles/styles.scss';

.wrapper {
  composes: border-secondary;
}


.title {
  composes: square-float-left square-primary-top-left;

  h1 { margin-top: 0; }
}

.intro {}

.content { composes: square-content; }
