@import './../../styles/styles.scss';

.container {
  display: flex;
  margin-bottom: spacing(triple);
  flex-direction: column;

  color: color(mono, light);
  text-decoration: none;

  background-color: color(primary);
  box-shadow: container(box-shadow, 2);

  &:nth-of-type(3n) { background-color: color(secondary); }

  @include larger-than(md) {
    margin-bottom: spacing(double);
    flex-direction: row;

    &:nth-of-type(even) {
      flex-direction: row-reverse;

      text-align: right;
    }
  }

  @include hovers() {
    color: color(mono, light);

    .header { text-decoration: underline; }
  }
}

.image_container {
  display: flex;
  height: auto;
  
  flex: 1 1 100%;
  align-items: start;

  img { box-shadow: 0; }

  @include larger-than(md) {
    padding: spacing(oneHalf);
    flex-basis: 40%;
  }
}

.text {
  padding: spacing();
  flex: 1 1 100%;

  @include larger-than(md) {
    flex-basis: 60%;

    .container:nth-of-type(odd) { padding-left: 0; }
    .container:nth-of-type(even) { padding-right: 0; }
  }
}

.header {
  margin-top: 0;
}

.descr {
  margin-bottom: 0;
}
