@import './../../styles/styles.scss';

.container {
  margin-bottom: spacing();

  text-align: center;
  text-decoration: none;
  color: color(mono, light);

  composes: square-primary;

  &:nth-of-type(odd) { background-color: color(secondary); }

  @include hovers() { color: color(mono, light); }
}

.header { margin: 0; }

.image { display: none; }

@include larger-than(md) {
  .container {
    $indent-neg: spacing(oneHalf) * -2;

    margin: 0;
    justify-content: space-between;

    .image { margin-bottom: $indent-neg; }

    // Image on right side
    &:nth-of-type(even) {
      flex-direction: row-reverse;

      text-align: left;

      .image {
        margin-right: $indent-neg;
        margin-left: spacing();
      }
    }

    // Image on left side
    &:nth-of-type(odd) {
      text-align: right;

      .image {
        margin-right: spacing(oneHalf);
        margin-left: $indent-neg;
      }
    }
  }

  .image {
    display: block;
    margin: spacing(oneHalf) * -1;
    width: 100%;
    max-width: 60%;
    // height: auto;
    align-self: flex-end;

    border: $border;
  }
}
