@import './../../styles/styles.scss';

.container {
  padding-bottom: spacing(oneHalf);
  margin-bottom: spacing(oneHalf);

  border-bottom: spacing(quart) solid color(secondary);
}

.link { text-decoration: none; }

.header {
  margin-top: 0;
  margin-bottom: spacing(third);
}

.date {
  display: inline-block;
  padding-bottom: spacing(third);

  font-style: italic;
}

.description { margin-bottom: 0; }

.content { composes: square-content; }
