@import './../../styles/styles.scss';

.list {
  display: flex;
  padding: spacing(half) spacing() spacing(half) spacing(half);
  padding-left: spacing(half);
  margin: 0 auto;
  flex-wrap: wrap;
  align-items: start;

  list-style-type: none;

  @include larger-than(md) {
    border-left: spacing(quart) solid color(secondary);
  }
}

.list_item {
  margin: 0 spacing(half);

  text-align: center;
}
