// All styles for content in specific blog posts

@import './../styles/styles.scss';

.wrapper {
  margin: 0 auto;
  max-width: breakpoint(md);

  composes: border-secondary;
}

.title {
  composes: square-title;

  position: relative;
  margin: 0;
  max-width: 100%;

  @include larger-than(md) { padding-right: calc(100px + #{spacing(double)}); }

  @include larger-than(lg) { padding-right: calc(100px + #{spacing()}); }
}

.title_header { margin: 0 0 spacing(double); }

.date { font-style: italic; }

.content { composes: square-content; }

.icon {
  composes: square-secondary;

  position: absolute;
  top: spacing() * -1;
  right: spacing() * -1;
  display: none;
  padding: spacing();

  @include larger-than(md) { display: block; }

  @include larger-than(lg) {
    top: spacing(double) * -1;
    right: spacing(double) * -1;
  }
}
