@import './../styles/styles.scss';

twitterwidget {
  margin-right: auto;
  margin-bottom: spacing(double) !important;
  margin-left: auto;
}

hr {
  margin: spacing(oneHalf) 0;

  border: 1.5px solid color(secondary);

  @include larger-than(md) {
    margin-right: spacing(double);
    margin-left: spacing(double);
  }
}

img {
  max-width: 100%;

  box-shadow: container(box-shadow, 2) !important;
}

figure img { margin: 0 auto; }

blockquote:not([class]) {
  font-size: type(font-size, h3);
  line-height: type(line-height, large);
  font-family: type(font-family, header);

  border-width: 0 !important;
  box-shadow: container(box-shadow, 2);

  p {
    font-size: type(font-size, h4);
    line-height: type(line-height, large);
  }

  &:nth-of-type(odd) {
    @include square-float('right');
    @include square(color(secondary), 'right');
  }

  &:nth-of-type(even) {
    @include square-float('left');
    @include square(color(secondary), 'left');
  }
}

blockquote:not([class]) cite {
  display: block;

  text-align: right;
  font-size: type(font-size, h6);
  font-weight: type(font-weight, bold);
}

.iframe-wrapper {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // For ratio 16:9. 75% if ratio is 4:3
  margin-bottom: spacing();
  position: relative;

  @include larger-than(md) {
    width: 85%;
    margin: 0 auto spacing();
  }

  embed,
  object,
  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}