// All styles for content in specific blog posts

@import './../styles/styles.scss';

.wrapper {
  composes: border-primary;
}

.title {
  composes: square-float-left square-primary-top-left;
}

.title_header { margin: 0 0 spacing(double); }

.date { font-style: italic; }

.content { composes: square-content; }
