@import './../../styles/styles.scss';

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-gap: spacing(triple);
}

@include larger-than(md) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }

  .blogItem {
    grid-column: span 1;
    grid-row: span 1;
  }
}

@include larger-than(lg) {
  .container { grid-gap: spacing(double); }
}