@import './../../styles/styles.scss';

.title_wrapper {
  composes: square-title;
  box-shadow: container(box-shadow, 2);
}

.title {
  margin: 0 auto;
  max-width: breakpoint(md);

  @include larger-than(md) { padding: 0 spacing(half); }
}

.header {
  margin: 0;

  @include smaller-than(md) { font-size: type(font-size, h3); }
}

.subheader {
  margin-top: spacing(oneHalf);
  margin-bottom: 0;

  @include smaller-than(md) { font-size: type(font-size, h5); }
}
