@import './../../styles/styles.scss';

.title_wrapper { composes: square-title; }

.title {
  margin: 0 auto;
  max-width: breakpoint(md);

  @include larger-than(md) { padding: 0 spacing(half); }
}

.header { margin: 0; }

.subheader { margin-bottom: 0; }
