@import './../../styles/styles.scss';

.section { padding-bottom: spacing(); }

.section_title { display: none; }

.section_secondary {
  composes: section;

  @include smaller-than(md) { display: none; }
}

@include larger-than(md) {
  .section {
    display: flex;
    padding-bottom: 0;
  }

  .section_title {
    $width: rem(175px);

    display: block;
    padding-right: spacing(oneHalf);
    padding-bottom: spacing(triple);
    margin: 0;
    max-width: $width;
    flex: 0 0 $width;

    text-align: right;
    font-style: italic;
    font-weight: type(font-weight, light);

    border-right: spacing(third) solid color(secondary);
  }

  .section_content {
    padding-bottom: spacing(triple);
    padding-left: spacing(oneHalf);
  }

  .edu_school { margin-top: 0; }
}
