@import '../_tools/colors';

// This function pulls specific color values from the below map
@function color($color, $tone: 'base') {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    base: #266082
  ),

  secondary: (
    base: #0e823a
  ),

  action: (
    base: #e2252a,
    dark: #b51e22
  ),

  mono: (
    light: #fbfcf7,
    dark: #080401
  )
);
