@import '../_tools/colors';

// This function pulls specific color values from the below map
@function color($color, $tone: 'base') {
  @if map-has-key($color-map, $color) {
    @return map-get(map-get($color-map, $color), $tone);
  }
}

// Map for storing all color variables
$color-map: (
  primary: (
    light: #7fdbff,
    dark: #24146f
  ),

  secondary: (
    light: #8de3ae,
    dark: #038911
  ),

  action: (
    base: #e2252a,
    light: #f29d9f,
    dark: #b51e22
  ),

  mono: (
    lightest: #fafaf1,
    darkest: #080401
  )
);
