@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

.quote--anime1 {
  padding: spacing() 10% spacing() spacing(double);

  color: rgba(#7fdbff, 0.8);
  font-family: 'Over the Rainbow', cursive;

  background-size: cover;
  background-position: 10% center;
  background-image: url('./varients/anime1.jpg');

  .quote__body {
    margin: spacing() 0 spacing(double);

    font-size: type(font-size, h5);

    transform: rotate(-3deg);
  }

  &.quote--long .quote__body { font-size: type(font-size, h6); }

  .quote__author {
    margin-bottom: spacing(triple);

    transform: rotate(3deg);
  }

  .quote__button {
    display: inline-block;

    font-style: italic;

    transform: rotate(35deg);
  }
}