@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

@keyframes slide_down {
  0% {
    opacity: 0;
    margin-top: -200px;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.quote--anime1 {
  padding: spacing() 10% spacing() spacing(double);

  color: rgba(#7fdbff, 0.8);
  font-family: 'Over the Rainbow', cursive;

  background-size: cover;
  background-position: 10% center;
  background-image: url('./varients/anime1.jpg');
  overflow: hidden;

  .quote__body,
  .quote__author,
  .quote__button {
    margin-top: -300px;

    opacity: 0;
    animation: slide_down 1s ease-out;
    animation-fill-mode: forwards;
  }

  .quote__body {
    margin: spacing() 0 spacing(double);

    font-size: type(font-size, h5);

    transform: rotate(-3deg);
  }

  &.quote--long .quote__body { font-size: type(font-size, h6); }

  .quote__author {
    margin-bottom: spacing(triple);

    animation-delay: 0.5s;
    transform: rotate(3deg);
  }

  .quote__button {
    display: inline-block;

    font-style: italic;

    animation-delay: 1s;
    transform: rotate(35deg);
  }
}