@import url('https://fonts.googleapis.com/css?family=Bad+Script');

$anime2-sky: #00b2ff;

.quote--anime2 {
  position: relative;
  display: flex;
  padding: spacing();
  flex-direction: column;
  align-items: start;
  justify-content: center;

  font-family: 'Bad Script', cursive;

  background-size: cover;
  background-position: center;
  background-image: url('./varients/anime2.jpg');

  .quote__content {
    padding: spacing();
    margin-bottom: spacing(triple);

    color: rgba(#060f94, 0.75);

    border-radius: 3px;
    background-color: rgba($anime2-sky, 0.65);

    @include larger-than(md) { max-width: 70%; }
    @include larger-than(lg) { max-width: 60%; }
  }

  .quote__body {
    margin-bottom: spacing(half);

    font-size: type(font-size, h4);
    font-weight: type(font-weight, light);
  }

  &.quote--long .quote__body { font-size: type(font-size, h5); }

  .quote__author { text-align: right; }

  .quote__button {
    position: absolute;
    right: spacing();
    bottom: spacing(triple);

    padding: spacing(third) spacing(half);

    border-radius: 3px;
    background-color: rgba($anime2-sky, 0.8);

    transform: rotate(-16deg);
  }
}