@import url('https://fonts.googleapis.com/css?family=Megrim');

@keyframes pulse_in {
  0% {
    opacity: 0;
    transform: scale(0, 0) translateY(250px);
  }

  20% { opacity: 1; }

  40% { opacity: 0; }

  60% { opacity: 1; }

  80% { opacity: 0; }

  100% {
    opacity: 1;
    transform: scale(1, 1) translateY(0);
  }
}

.quote--staircase {
  display: flex;
  padding: spacing() spacing() 0 spacing();
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: color(mono, light);
  font-family: 'Megrim', cursive;

  background-size: cover;
  box-shadow: $quote-bg-dark;
  background-position: center;
  background-image: url('./varients/staircase.jpg');

  .quote__content {
    text-align: center;

    animation: pulse_in 2s ease-in;
    animation-fill-mode: forwards;
  }

  .quote__body {
    padding: 0 spacing(double);
    margin-bottom: spacing(third);

    font-size: type(font-size, h4);
    font-weight: type(font-weight, bold);
  }

  &.quote--long .quote__body { font-size: type(font-size, h5); }

  .quote__content,
  .quote__button { margin-top: auto }

  .quote__button {
    display: block;
    padding: spacing(half);
    width: 100%;

    text-align: center;
    text-decoration: none;

    @include contra-color(color(secondary));

    @include larger-than(md) { width: 50%; }
  }
}