$border: spacing() solid color(mono, light);
$primary: color(primary);
$secondary: color(secondary);
$dark: color(mono, dark);

@mixin square($color, $position) {
  display: flex;
  padding: spacing(oneHalf) spacing();
  align-items: center;
  justify-content: center;

  @include contra-color($color);

  z-index: 1;

  p { margin: 0; }

  @include larger-than(md) {
    padding: spacing(oneHalf);

    @if ($position == 'top-left') {
      border-right: $border;
      border-bottom: $border;
    } @elseif ($position == 'right') {
      border-top: $border;
      border-bottom: $border;
      border-left: $border;
    } @elseif ($position == 'left') {
      border-top: $border;
      border-right: $border;
      border-bottom: $border;
    } @else {
      border: $border;
    }
  }
}

.square-primary { @include square($primary, ''); }
.square-primary-top-left { @include square($primary, 'top-left'); }

.square-secondary { @include square($secondary, ''); }
.square-secondary-top-left { @include square($secondary, 'top-left'); }

.square-dark { @include square($dark, ''); }

// Float classes
@mixin square-float($direction) {
  display: inline-block;
  margin: 0;
  width: 100%;

  @include larger-than(md) {
    margin-#{$direction}: spacing(quad) * -1;
    float: #{$direction};
    max-width: 60%;

    @if ($direction == 'right') {
      margin-left: spacing();

      // text-align: left;
    } @else {
      margin-right: spacing();

      // text-align: right;
    }
  }
  
  @include larger-than(lg) {
    margin-#{$direction}: -8rem;
    max-width: 70%;
  }
}

.square-float-left { @include square-float('left'); }
.square-float-right { @include square-float('right'); }

.square-title {
  padding: spacing(oneHalf) spacing();
  margin-bottom: spacing(oneHalf);

  color: color(mono, light);

  background-color: color(primary);

  @include larger-than(md) { padding: spacing() spacing(half); }
}
