@import './../../../styles/styles.scss';

@keyframes stream_down {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  1% { opacity: 0; }

  10% { opacity: 0.8; }

  90% { opacity: 0.8; }

  99% {
    transform: translateY(125%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 0;
  }
}

.container {
  position: absolute;
  bottom: 100%;

  display: inline-flex;
  flex-direction: column;
  align-items: center;

  opacity: 0;
  transform: translateY(0);
  animation-name: stream_down;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  filter: drop-shadow(0px 0px 5px color(mono, light));
  z-index: 2;
}

.blurred {
  composes: container;

  color: color(secondary);

  filter: blur(5px) drop-shadow(0px 0px 20px color(mono, light));
  z-index: 1;
}

.visibleChar,
.hiddenChar { flex: 1 1 12.5%; }

.hiddenChar { opacity: 0; }
