@import './../../styles/styles.scss';

.container {
  display: flex;
  margin-bottom: spacing(oneHalf);
  flex-direction: column;

  color: color(mono, light);
}

.name,
.description,
.stack { padding: spacing(); }

.name {}

.title { margin-top: 0; }

.description {
  p { margin: 0; }
}

.stack {}

@include larger-than(md) {
  $indent: spacing(oneHalf);
  $indent-neg: $indent * -1;

  .container { padding: 0 $indent; }

  .name,
  .stack { background-color: color(primary); }

  .name {
    margin-right: $indent;
    margin-left: $indent-neg;

    z-index: 3;
  }

  .description {
    padding-top: spacing(double);
    margin: $indent-neg;
    margin-left: $indent;

    background-color: color(secondary);

    z-index: 2;
  }

  .stack {
    padding-top: spacing(double);

    text-align: right;

    z-index: 1;
  }
}
