@import './../../styles/styles.scss';

.container {
  display: flex;
  padding-bottom: spacing(oneHalf);
  margin-bottom: spacing(oneHalf);
  flex-direction: column;

  border-bottom: spacing(third) solid color(secondary);
  
  &:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;

    border-bottom-width: 0;
  }
}

.name,
.description,
.stack { padding: spacing(); }

.name {}

.title { margin-top: 0; }

.description {
  p { margin: 0; }
}

.role { margin-bottom: 0; }

@include larger-than(md) {
  $indent: spacing(oneHalf);
  $indent-neg: $indent * -1;

  .container {
    padding: 0 $indent;

    color: color(mono, light);

    border-bottom-width: 0;
  }

  .role {
    margin-top: spacing(oneHalf);

    font-style: italic;
  }

  .name,
  .stack { background-color: color(primary); }

  .name {
    margin-right: $indent;
    margin-left: $indent-neg;

    z-index: 3;
  }

  .description {
    padding-top: spacing(double);
    margin: $indent-neg;
    margin-left: $indent;

    background-color: color(secondary);

    z-index: 2;
  }

  .stack {
    padding-top: spacing(double);

    text-align: right;

    z-index: 1;
  }
}
