@import './../styles/styles.scss';

$header-els: 'h1', 'h2', 'h3', 'h4', 'h5', 'h6';

* { box-sizing: border-box; }

html {
  font-size: 80%;

  @include larger-than(sm) { font-size: 90%; }
  @include larger-than(md) { font-size: 100%; }
}

body {
  padding: 0;
  margin: 0;
  max-width: 100vw;

  color: color(mono, dark);
  font-family: type(font-family, base);

  background-color: color(mono, light);

  overflow-x: hidden;
}

kbd {
  color: color(mono, light);
  font-family: type(font-family, mono);

  background-color: color(mono, dark);
}

mark {
  color: color(mono, light);

  background-color: color(secondary);
}

a {
  color: color(action);

  @include hovers() { color: color(action, dark); }
}

ol,
ul {
  padding-left: spacing(half);
  margin-top: 0;

  list-style-position: inside;

  li { margin-bottom: spacing(third); }
}

@each $header in $header-els {
  #{$header} { font-family: type(font-family, header); }
}

@each $label, $font-size in map-get($typography-map, font-size) {
  #{$label} { font-size: $font-size; }
}

@each $label, $line-height in map-get($typography-map, line-height) {
  #{$label} { line-height: strip-unit($line-height); }
}

@each $label, $margin in map-get($typography-map, margin) {
  #{$label} { margin: $margin; }
}
