@import './../styles/styles.scss';

$header-border-width: spacing(third);

.container {
  display: flex;
  margin: 0 auto spacing();
  max-width: breakpoint(max);
  align-items: center;
  justify-content: space-between;

  @include larger-than(md) {
    padding-left: spacing();
    margin-bottom: spacing(double);
    flex-wrap: wrap;
  }
}

.title {
  padding: spacing(half) spacing();

  @include larger-than(md) {
    border-left: $header-border-width solid color(primary);
  }
}

.titleText {
  margin: 0;

  & a { text-decoration: none; }
}

.menu {
  padding: spacing(quart);

  @include larger-than(md) {
    border-left: $header-border-width solid color(secondary);
  }
}
