@import './../styles/styles.scss';

$header-border-width: spacing(quart);

.container {
  display: flex;
  margin: 0 auto;
  max-width: breakpoint(lg);
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;

  @include larger-than(md) { margin-bottom: spacing(oneHalf); }
}

.title {
  padding: spacing(half) spacing();

  @include larger-than(md) {
    border-left: $header-border-width solid color(primary);
  }
}

.titleText {
  margin: 0;

  color: color(primary);

  & a { text-decoration: none; }

  @include smaller-than(md) { font-size: type(font-size, h4); }
}

.tagline { font-style: italic; }
