@import './../styles/styles.scss';

.wrapper {
  display: grid;
  padding: spacing(half);
  grid-template-columns: 1fr minmax(auto, 115px);
  grid-template-rows: auto;
  grid-gap: spacing(quart);
  
  @include larger-than(md) {
    min-height: 100vh;
    grid-gap: spacing(half);
  }
}

.title {
  grid-column: 1 / -1;
}

.header {
  margin: 0 0 spacing(third);
}

.tagline {
  margin: 0;

  font-style: italic;

  @include smaller-than(md) { display: none; }
}

.description {
  composes: square-primary;
  display: flex;
  flex-direction: column;
  align-items: start;
  grid-column: 1 / -1;
}

.reactrix {
  display: none;
  composes: square-dark;
  padding: 0;

  z-index: -1;
}

.menu {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
  align-self: center;
}

.photo {
  width: 100%;
  height: auto;
}

.photo_wrapper {
  display: flex;
  margin: 0 auto;
  grid-column: 1 / -1;
  align-items: flex-start;

  // @include larger-than(md) { align-items: flex-end; }
}

@include larger-than(sm) {
  .wrapper {
    grid-template-columns: repeat(3, 1fr) 170px;
    grid-template-rows: repeat(3, minmax(30px, auto)) 170px repeat(2, minmax(30px, 1fr));
  }

  .title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .menu {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
  }

  .description {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
  }

  .reactrix {
    display: block;
    grid-column: 1 / 5;
    grid-row: 4 / 7;
  }

  .photo { border: 3px solid color(mono, light); }

  .photo_wrapper {
    grid-column: 4 / 5;
    grid-row: 4 / 5;
  }
}

@include larger-than(lg) {
  .wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 130px 1fr repeat(2, minmax(30px, auto)) repeat(3, auto);
  }

  .title {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
  }

  .description {
    grid-column: 1 / 7;
    grid-row: 6 / 9;
  }

  .reactrix {
    grid-column: 3 / 11;
    grid-row: 2 / 7;
  }

  .menu {
    grid-column: 11 / 13;
    grid-row: 6 / 8;
  }

  .photo_wrapper {
    grid-column: 10 / 12;
    grid-row: 1 / 3;
  }
}
