@import './../styles/styles.scss';

.content {
  padding: 0 spacing();
  margin: 0 auto spacing(double);
  max-width: breakpoint(md);

  @include larger-than(md) { padding: 0 spacing(half); }
}

.content_large {
  composes: content;
  max-width: breakpoint(lg);
}
